version: '3.8'
services:
  fast-n-foodious-ms-produto:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    container_name: fast-n-foodious-ms-produto
    env_file:
      - ./envs/${NODE_ENV:-prod}.env
    ports:
      - ${SERVER_PORT:-3000}:${SERVER_PORT:-3000}
    depends_on:
      - mysql-produto
    networks:
      - fast-n-foodious-network
  mysql-produto:
    image: mysql:8.0
    container_name: mysql-produto    
    restart: unless-stopped
    environment:
      MYSQL_PASSWORD: $MYSQL_PASSWORD
      MYSQL_ROOT_PASSWORD: $MYSQL_ROOT_PASSWORD
      MYSQL_ROOT_HOST: '%'
      MYSQL_USER: $MYSQL_USER
      MYSQL_DATABASE: $MYSQL_DATABASE
    ports:
      - ${MYSQL_PORT:-3306}:${MYSQL_PORT:-3306}
    volumes:
      - ./scripts/schema:/docker-entrypoint-initdb.d
      - mysql-data-produto:/data/db
    networks:
      - fast-n-foodious-network

volumes:
  mysql-data-produto:
networks:
  fast-n-foodious-network:
    driver: bridge