apiVersion: v1
kind: Service
metadata:
  name: fast-n-foodious-ms-produto-svc
spec:
  selector:
    app: fast-n-foodious-ms-produto
  type: LoadBalancer
  ports:
  - port: 80
    nodePort: 30000
    targetPort: 3000
---
apiVersion: v1
kind: Service
metadata:
  name: mysql-produto
spec:
  selector:
    app: mysql-produto
  ports:
  - port: 3306

